@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
    height: 100%;
    width: 100%;
    font-family: "Roboto Condensed", sans-serif;
}

.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 60px;
}

.row{
    margin: 8px;
    width: 82vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row input{
    margin: 0;
    padding: 10px 0;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    width: 291px;
}
