@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
    height: 100%;
    width: 100%;
    font-family: "Roboto Condensed", sans-serif;
}

.button{
    width: 70px;
    height: 70px;
    margin: 0 6px;
    border-radius: 50%;
    border: none;
    font-size: 40px;
    cursor: pointer;
    background-color: #44444E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.row{
    margin: 8px;
    width: 82vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row input{
    margin: 0;
    padding: 10px 10px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 25px;
    width: 298px;
}

.c button{
    width: 100px;
}

